h1{
    color: #ffa600fd;   
    padding: 30px;
   }
   h1:hover{
       color:black;
   }

 /*  *{
       border: solid;
   }*/
   .header{
       background-color: #0000ff;
       display:flex;
       justify-content: space-between;
       margin: 30px;
       padding: 30px;
       /*text-align: center; */
       border-style: double;
       border: solid;
   }
   .grid{ 
       display: flex;
       flex-wrap: wrap;
       justify-content: space-evenly;
   }
   .footer{
   display: flex;    
   justify-content: flex-end;
   }
   h2,p{
    color: #0000ff;
    text-align: center;   
   }
   .menu{
       border: solid;
       background-color: #ffa600fd;
       margin-right: 30px;
   }
   body{
       background-color: #ffa600fd;
   }
   p{
       font-size: 20px;
   }
   a:link{
    color: blue
   }
   a:visited{
       color: blue;
   }
   a{
    padding: 10px;   
   }
   .menu a{
       margin-left: 20px;
   }
   .item{
    position:relative;
    
    }
    .item p{
        position:absolute;
       top:50%;
       left:50%;
       transform:translate(-50%, -50%);
       opacity: 0;
    }
    .item:hover p{
       opacity: 1;
    }
    .item:hover img{
        opacity: 0.33;
    }

 